body,
html,
* {
    font-size: 20px;
}

.card {
    width: 22% auto;
    height: 525px auto;
    background-color: aqua;
    margin: 20px auto;
    box-shadow: 5px 5px 5px rgb(0, 168, 190);
    border-radius: 10%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 90vw;
    background-color: rgb(204, 245, 255);
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img {
    object-fit: cover;
    width: auto;
    height: 13vw;
    padding: 1vw;
    display: flex;
    object-position: center;
    border-radius: 10%;
}

.button {
    width: auto;
    height: auto;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bodytext {
    width: auto;
    text-align: center;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
    .container {
        background-color: red;
    }
}
@media screen and (max-width: 800px){
    .card {
        width: 100%;
    }
    .container {
        flex-direction: column;
        background-color: green;
    }
}