body,
html,
* {
    font-size: 20px;
}

.card {
    width: 22%;
    height: 525px;
    background-color: rgb(168, 255, 214);
    margin: 20px auto;
    box-shadow: 5px 5px 5px rgb(0, 168, 190);
    border-radius: 10%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 90vw;
    background-color: rgb(204, 245, 255);
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.moneycontainer {
    width: 40vw;
    background-color: rgb(204, 245, 255);
    margin: 25px auto;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.img {
    object-fit: cover;
    width: 90%;
    height: 50%;
    padding: 1vw;
    display: flex;
    object-position: center;
    border-radius: 10%;
}

.button {
    width: 20%;
    height: auto;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 5%;
    margin: 25px;
}

.AddToCart {
    width: auto;
    height: auto;
    padding: 1vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bodytext {
    width: auto;
    text-align: center;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Category {
    width: auto;
    text-align: center;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.price {
    width: auto;
    text-align: center;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.topcard {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: rgb(168, 255, 214);
}

.toptext {
    padding-left: 6%;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    display: flex;
    width: 100%;
}

@media screen and (max-width: 800px){
    .card {
        width: 100%;
    }
    .container {
        flex-direction: column;
        background-color: green;
    }
}

